## Extract Data from Domain.com.au

#### 1. Parse URL to extract Auction/Sales results for individual suburbs (URL specific)

In [1]:
import pandas as pd
import numpy as np
import requests

from bs4 import BeautifulSoup

In [288]:

soup = requests.get('https://www.domain.com.au/sold-listings/mernda-vic-3754/?page=1')
result = BeautifulSoup(soup.content,'html5lib')

### 1st Page of Search Results

In [289]:
# Extract Sold Price
price = result.find_all('p', attrs={"class":"css-mgq8yx"})
prices = []
for i in price:
    prices.append(i.text)
Sold_Price = pd.DataFrame(prices, columns=["Sold_Price"])
#Sold_Price

In [290]:
# Extract Property Address
st_address = result.find_all('span', attrs={"itemprop":"streetAddress"})
st_addresses = []
for i in st_address:
    cleaned = i.text.rsplit(',')[0]
    st_addresses.append(cleaned)
Address = pd.DataFrame(st_addresses, columns=["Address"])
#Address

In [291]:
# Extract Property Suburb
suburb = result.find_all('span', attrs={"itemprop":"addressLocality"})
suburb
suburbs = []
for i in suburb:
    suburbs.append(i.text)
Suburb = pd.DataFrame(suburbs, columns=["Suburb"])

In [292]:
# Extract Property Type

proptype_finder = result.find_all(class_ = 'css-11n8uyu')
proptype_finder

proptype_list = []
for i in proptype_finder:
    x = i.text.rsplit(' ')[0]
    proptype_list.append(x)

proptype_list
    
PropType = pd.DataFrame(proptype_list, columns=["PropType"])
PropType.replace('.css-693528{max-width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;font-weight:bold;font-size:14px;line-height:24px;}House','House', True)
PropType.replace('Vacant','Vacant land', True)

#PropType

In [293]:
PropList = pd.concat([Address,Suburb,Sold_Price,PropType],axis=1,sort=False)
PropList["Bed"] = np.nan
PropList["Bath"] = np.nan
PropList["Parking"] = np.nan
PropList["LandSize"] = np.nan

# Set index to start @ 1 instead of 0
#PropList.index = PropList.index + 1
#PropList.iloc[0]['Bed']
PropList

,Address,Suburb,Sold_Price,PropType,Bed,Bath,Parking,LandSize
0,6 Jackaroo Street,MERNDA,"$546,000",House,NaN,NaN,NaN,NaN
1,Lot 111/125 Regent Street,MERNDA,"$312,500",Vacant land,NaN,NaN,NaN,NaN
2,13 Chanticleer Drive,MERNDA,"$332,000",Townhouse,NaN,NaN,NaN,NaN
3,4 Balfour Drive,MERNDA,"$575,000",House,NaN,NaN,NaN,NaN
4,3/20 Stourhead Avenue,MERNDA,"$461,000",House,NaN,NaN,NaN,NaN
5,23 Herschel Way,MERNDA,"$780,000",House,NaN,NaN,NaN,NaN
6,52 Balerno Way,MERNDA,"$500,000",House,NaN,NaN,NaN,NaN
7,23 Marlowe Grange,MERNDA,"$645,000",House,NaN,NaN,NaN,NaN
8,31 Ragusa Terrace,MERNDA,"$310,000",Vacant land,NaN,NaN,NaN,NaN
9,175 Everard Road,MERNDA,"$510,000",House,NaN,NaN,NaN,NaN
10,22 Arum Walk,MERNDA,"$593,000",House,NaN,NaN,NaN,NaN
11,22 Delbridge Drive,MERNDA,Price Withheld,House,NaN,NaN,NaN,NaN
12,29 Langdon Drive,MERNDA,"$808,000",House,NaN,NaN,NaN,NaN
13,24 Etherington Drive,MERNDA,"$470,000",Townhouse,NaN,NaN,NaN,NaN
14,82 Brunton Drive,MERNDA,"$535,000",House,NaN,NaN,NaN,NaN
15,21 Brunton Drive,MERNDA,"$610,000",House,NaN,NaN,NaN,NaN
16,16 Falkirk Drive,MERNDA,"$510,000",House,NaN,NaN,NaN,NaN
17,4 Basilica Vista,MERNDA,"$745,000",House,NaN,NaN,NaN,NaN
18,148 Everard Road,MERNDA,"$470,000",House,NaN,NaN,NaN,NaN
19,3 Brandybuck Lane,MERNDA,"$545,000",House,NaN,NaN,NaN,NaN

In [294]:
# Extract Property Features
feature_finder = result.find_all(class_ = 'css-1rzse3v')
feature_finder

feature_list = []
for i in feature_finder:
    x = i.text.rsplit(' ')
    feature_list.append(x)


    
Features = pd.DataFrame(feature_list, columns=['Spec','Feature'])
Features.replace('.css-9fxapx{position:absolute;width:1px;height:1px;margin:-1px;padding:0;-webkit-clip:rect(1px,1px,1px,1px);clip:rect(1px,1px,1px,1px);border:0;overflow:hidden;-webkit-clip-path:inset(100%);clip-path:inset(100%);-webkit-clip-path:none;}Beds','Beds',inplace=True)
Features.replace('Baths','Bath',inplace=True)
Features.replace('Beds','Bed',inplace=True)
Features.replace('','LandSize',inplace=True)



#Features

In [295]:
Features.loc[0,'Spec']

'3'

In [296]:
# Fill in blanks (e.g. vacant land w/o BedBathParking, props w/o LandSize). 

if j != (80-len(Features)): 
    #print('j',j,'len(Features)')
    for i in range(80): 
        if i == 79:
            #print(i,'break')
            break
        elif Features.loc[i, 'Feature'] == 'LandSize' and Features.loc[i+1, 'Feature'] == 'LandSize':
            #print(i, 'land')
            blank1 = pd.DataFrame({'Spec': 0, 'Feature': 'Bed'}, index=[i+1])
            blank2 = pd.DataFrame({'Spec': 0, 'Feature': 'Bath'}, index=[i+2])
            blank3 = pd.DataFrame({'Spec': 0, 'Feature': 'Parking'}, index=[i+3])
            Features = pd.concat([Features.iloc[:i+1], blank1, blank2, blank3, Features.iloc[i+1:]]).reset_index(drop=True)
            #print('elif',i,'here',len(Features))
            #print(Features)
        elif Features.loc[i, 'Feature'] == 'Parking' and Features.loc[i+1, 'Feature'] == 'Bed':
            blank = pd.DataFrame({'Spec': 0, 'Feature': 'LandSize'}, index=[i+1])
            Features = pd.concat([Features.iloc[:i+1], blank, Features.iloc[i+1:]]).reset_index(drop=True)
            #print('2nd elif',i,'here',len(Features))
            #print(Features)
# If last row = no LandSize, manual fill. 
        elif Features.loc[(len(Features)-1), 'Feature'] == 'Parking':
            Features = Features.append(blank).reset_index(drop=True)

Features

     Spec   Feature
0       3       Bed
1       2      Bath
2       2   Parking
3   409m²  LandSize
4       0       Bed
5       0      Bath
6       0   Parking
7   376m²  LandSize
8       2       Bed
9       1      Bath
10      1   Parking
11      0  LandSize
12      3       Bed
13      2      Bath
14      2   Parking
15  448m²  LandSize
16      3       Bed
17      2      Bath
18      2   Parking
19  172m²  LandSize
20      4       Bed
21      2      Bath
22      2   Parking
23  439m²  LandSize
24      4       Bed
25      2      Bath
26      2   Parking
27      0  LandSize
28      3       Bed
29      2      Bath
..    ...       ...
50      4   Parking
51  700m²  LandSize
52      3       Bed
53      2      Bath
54      2   Parking
55  167m²  LandSize
56      4       Bed
57      2      Bath
58      2   Parking
59      0  LandSize
60      4       Bed
61      2      Bath
62      2   Parking
63      0  LandSize
64      3       Bed
65      2      Bath
66      1   Parking
67  372m²  LandSize
68      4       Bed
69      2      Bath
70      2   Parking
71  616m²  LandSize
72      3       Bed
73      2      Bath
74      1   Parking
75      0  LandSize
76      4       Bed
77      2      Bath
78      2   Parking
79  375m²  LandSize

[80 rows x 2 columns]

In [320]:
# Allocate Feature Specs to PropList

# iterate every 4x Features rows into 1x PropList row

for i in range(20):
    PropList.loc[i, 'Bed'] = Features.loc[4*i, 'Spec']
    PropList.loc[i, 'Bath'] = Features.loc[4*i+1, 'Spec']
    PropList.loc[i, 'Parking'] = Features.loc[4*i+2, 'Spec']
    PropList.loc[i, 'LandSize'] = Features.loc[4*i+3, 'Spec']
    


#for i in range(len(Features)): 
#    if Features.loc[i, 'Feature'] == 'Bed':
#        PropList.loc[i, 'Bed'] = Features.loc[i, 'Spec'] 
#    elif Features.loc[i, 'Feature'] == 'Bath':
#        PropList.loc[i, 'Bath'] = Features.loc[i, 'Spec'] 
#    elif Features.loc[i, 'Feature'] == 'Parking':
#        PropList.loc[i, 'Parking'] = Features.loc[i, 'Spec'] 
#    elif Features.loc[i, 'Feature'] == 'LandSize':
#        PropList.loc[i, 'LandSize'] = Features.loc[i, 'Spec'] 

PropList

,Address,Suburb,Sold_Price,PropType,Bed,Bath,Parking,LandSize
0,6 Jackaroo Street,MERNDA,"$546,000",House,3,2,2,409m²
1,Lot 111/125 Regent Street,MERNDA,"$312,500",Vacant land,0,0,0,376m²
2,13 Chanticleer Drive,MERNDA,"$332,000",Townhouse,2,1,1,0
3,4 Balfour Drive,MERNDA,"$575,000",House,3,2,2,448m²
4,3/20 Stourhead Avenue,MERNDA,"$461,000",House,3,2,2,172m²
5,23 Herschel Way,MERNDA,"$780,000",House,4,2,2,439m²
6,52 Balerno Way,MERNDA,"$500,000",House,4,2,2,0
7,23 Marlowe Grange,MERNDA,"$645,000",House,3,2,2,462m²
8,31 Ragusa Terrace,MERNDA,"$310,000",Vacant land,0,0,0,343m²
9,175 Everard Road,MERNDA,"$510,000",House,4,2,1,0
10,22 Arum Walk,MERNDA,"$593,000",House,3,2,2,410m²
11,22 Delbridge Drive,MERNDA,Price Withheld,House,4,2,2,509m²
12,29 Langdon Drive,MERNDA,"$808,000",House,3,2,4,700m²
13,24 Etherington Drive,MERNDA,"$470,000",Townhouse,3,2,2,167m²
14,82 Brunton Drive,MERNDA,"$535,000",House,4,2,2,0
15,21 Brunton Drive,MERNDA,"$610,000",House,4,2,2,0
16,16 Falkirk Drive,MERNDA,"$510,000",House,3,2,1,372m²
17,4 Basilica Vista,MERNDA,"$745,000",House,4,2,2,616m²
18,148 Everard Road,MERNDA,"$470,000",House,3,2,1,0
19,3 Brandybuck Lane,MERNDA,"$545,000",House,4,2,2,375m²

In [326]:
# Remove 'm2', rename LandSize to incl measurement, convert Nan to 0
PropList['LandSize'] = PropList['LandSize'].str.extract('(\d+)')
PropList.rename(columns = {'LandSize':'LandSize(m2)'},inplace = True)
PropList.fillna(0)

,Address,Suburb,Sold_Price,PropType,Bed,Bath,Parking,LandSize(m2)
0,6 Jackaroo Street,MERNDA,"$546,000",House,3,2,2,409
1,Lot 111/125 Regent Street,MERNDA,"$312,500",Vacant land,0,0,0,376
2,13 Chanticleer Drive,MERNDA,"$332,000",Townhouse,2,1,1,0
3,4 Balfour Drive,MERNDA,"$575,000",House,3,2,2,448
4,3/20 Stourhead Avenue,MERNDA,"$461,000",House,3,2,2,172
5,23 Herschel Way,MERNDA,"$780,000",House,4,2,2,439
6,52 Balerno Way,MERNDA,"$500,000",House,4,2,2,0
7,23 Marlowe Grange,MERNDA,"$645,000",House,3,2,2,462
8,31 Ragusa Terrace,MERNDA,"$310,000",Vacant land,0,0,0,343
9,175 Everard Road,MERNDA,"$510,000",House,4,2,1,0
10,22 Arum Walk,MERNDA,"$593,000",House,3,2,2,410
11,22 Delbridge Drive,MERNDA,Price Withheld,House,4,2,2,509
12,29 Langdon Drive,MERNDA,"$808,000",House,3,2,4,700
13,24 Etherington Drive,MERNDA,"$470,000",Townhouse,3,2,2,167
14,82 Brunton Drive,MERNDA,"$535,000",House,4,2,2,0
15,21 Brunton Drive,MERNDA,"$610,000",House,4,2,2,0
16,16 Falkirk Drive,MERNDA,"$510,000",House,3,2,1,372
17,4 Basilica Vista,MERNDA,"$745,000",House,4,2,2,616
18,148 Everard Road,MERNDA,"$470,000",House,3,2,1,0
19,3 Brandybuck Lane,MERNDA,"$545,000",House,4,2,2,375

In [328]:
#PropList = pd.concat([Address,Suburb,Sold_Price,PropType],axis=1,sort=False)

# Set index to start @ 1 instead of 0
PropList.index = PropList.index + 1
print(PropList)

                      Address  Suburb       Sold_Price     PropType Bed Bath  \
2           6 Jackaroo Street  MERNDA        $546,000         House   3    2
3   Lot 111/125 Regent Street  MERNDA        $312,500   Vacant land   0    0
4        13 Chanticleer Drive  MERNDA        $332,000     Townhouse   2    1
5             4 Balfour Drive  MERNDA        $575,000         House   3    2
6       3/20 Stourhead Avenue  MERNDA        $461,000         House   3    2
7             23 Herschel Way  MERNDA        $780,000         House   4    2
8              52 Balerno Way  MERNDA        $500,000         House   4    2
9           23 Marlowe Grange  MERNDA        $645,000         House   3    2
10          31 Ragusa Terrace  MERNDA        $310,000   Vacant land   0    0
11           175 Everard Road  MERNDA        $510,000         House   4    2
12              22 Arum  Walk  MERNDA        $593,000         House   3    2
13         22 Delbridge Drive  MERNDA  Price Withheld         House   4    2
14           29 Langdon Drive  MERNDA        $808,000         House   3    2
15       24 Etherington Drive  MERNDA        $470,000     Townhouse   3    2
16           82 Brunton Drive  MERNDA        $535,000         House   4    2
17           21 Brunton Drive  MERNDA        $610,000         House   4    2
18           16 Falkirk Drive  MERNDA        $510,000         House   3    2
19           4 Basilica Vista  MERNDA        $745,000         House   4    2
20           148 Everard Road  MERNDA        $470,000         House   3    2
21          3 Brandybuck Lane  MERNDA        $545,000         House   4    2

   Parking LandSize(m2)
2        2          409
3        0          376
4        1          NaN
5        2          448
6        2          172
7        2          439
8        2          NaN
9        2          462
10       0          343
11       1          NaN
12       2          410
13       2          509
14       4          700
15       2          167
16       2          NaN
17       2          NaN
18       1          372
19       2          616
20       1          NaN
21       2          375

## Test Test