## Extract Data from Domain.com.au

#### 1. Parse URL to extract Auction/Sales results for individual suburbs (URL specific)

In [154]:
import pandas as pd
import numpy as np
import requests

from bs4 import BeautifulSoup

In [155]:

soup = requests.get('https://www.domain.com.au/sold-listings/mernda-vic-3754/?page=1')
result = BeautifulSoup(soup.content,'html5lib')

### 1st Page of Search Results

In [156]:
# Extract Sold Price
price = result.find_all('p', attrs={"class":"css-mgq8yx"})
prices = []
for price in price:
    prices.append(price.text)
Sold_Price = pd.DataFrame(prices, columns=["Sold_Price"])

In [157]:
# Extract Property Address
st_address = result.find_all('span', attrs={"itemprop":"streetAddress"})
st_addresses = []
for st_address in st_address:
    cleaned = st_address.text.rsplit(',')[0]
    st_addresses.append(cleaned)
Address = pd.DataFrame(st_addresses, columns=["Address"])
Address

                  Address
0          5 Destiny View
1          14 Womble  Way
2          57 Bellini Way
3      38 Boyce Boulevard
4      77 Waterview Drive
5     25 Shearwater Place
6        37 Dalziel Drive
7      9 Ronsard Crescent
8       13 Strider Street
9         13 Ramez Street
10            9 Arum Walk
11         17 Pipers Lane
12            11 Rye Road
13        17 Rowell Drive
14    35 Melliodora Drive
15    74 Silverwood Drive
16      34 Schotters Road
17  13 Bickerton Crescent
18       15 Kruger Street
19         12 Burrell Way

In [158]:
# Extract Property Suburb
suburb = result.find_all('span', attrs={"itemprop":"addressLocality"})
suburb
suburbs = []
for suburb in suburb:
    suburbs.append(suburb.text)
Suburb = pd.DataFrame(suburbs, columns=["Suburb"])

In [160]:
PropList = pd.concat([Address,Suburb,Sold_Price],axis=1,sort=False)

# Set index to start @ 1 instead of 0
#PropList.index = PropList.index + 1
PropList

                  Address  Suburb       Sold_Price
0          5 Destiny View  MERNDA        $480,000
1          14 Womble  Way  MERNDA        $620,000
2          57 Bellini Way  MERNDA        $560,500
3      38 Boyce Boulevard  MERNDA        $495,000
4      77 Waterview Drive  MERNDA        $740,000
5     25 Shearwater Place  MERNDA        $550,000
6        37 Dalziel Drive  MERNDA        $720,000
7      9 Ronsard Crescent  MERNDA  Price Withheld
8       13 Strider Street  MERNDA        $327,500
9         13 Ramez Street  MERNDA        $471,000
10            9 Arum Walk  MERNDA        $582,000
11         17 Pipers Lane  MERNDA  Price Withheld
12            11 Rye Road  MERNDA        $510,000
13        17 Rowell Drive  MERNDA        $575,000
14    35 Melliodora Drive  MERNDA        $690,000
15    74 Silverwood Drive  MERNDA        $425,000
16      34 Schotters Road  MERNDA        $540,000
17  13 Bickerton Crescent  MERNDA        $235,000
18       15 Kruger Street  MERNDA        $550,000
19         12 Burrell Way  MERNDA        $550,000

In [161]:
# Extract Property Features
#feature = result.find_all('li', attrs={"class": "css-1b4kfhp"})
#x = feature[0].text
#x
#feature
#features0 = []
#features1 = []
#features2 = []
#features3 = []
#for feature in feature:
#    cleaned = feature.text.rsplit(' ')
#    features0.append(cleaned[0])
#    features1.append(cleaned[1])
#    features2.append(cleaned[2])
#    features3.append(cleaned[3])
#Feature = pd.DataFrame(features, columns=["Feature"])
#Feature

## Try Scrapy??

In [162]:
#features0 = []
#features1 = []
#features2 = []
#features3 = []
#for feature in feature:
#    cleaned = feature.text.rsplit(' ')
#    features0.append(cleaned[0])
#    features1.append(cleaned[1])
#    features2.append(cleaned[2])
#    features3.append(cleaned[3])
#Feature = pd.DataFrame(features, columns=["Feature"])
#Feature

## Test Test